body, #menu {
    margin: auto 0;
    text-align: center;
    background-color: red;
    color: gold;
}

button {
    display:inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 40px 0;
}

#controls {
    display: flex;
    margin: 0 300px;
    justify-content: space-between;
}

#grid {
border: 10px solid black;
border-radius: 15px;
  display: inline-block;
  min-height: 960px;
  min-width: 960px;
  box-sizing: content-box;
}

.container {
    white-space: nowrap;
    box-sizing: border-box;
}

.grid-box {
    background-color: gray;   
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
.hovered-grid-box {
    background-color: black;
}